*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../images/background5.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.wrapper {
    background-color: #ECECEC;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 0.8125rem;
}

.nav-btn {
    border: 2px solid #00aeff;
    padding: 6px 25px;
    border-radius: 30px;
    margin-left: 15px;
}

.nav-btn:hover {
    background: #00aeff;
    transition: 0.5s;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    /* background: #f2a900; */
    background: #00aeff;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

/* .sticky {
    position: sticky;
    top: 0;
    
    background: rgba(0,0,0,0.815);
    z-index: 9999;
    transition: all 1.5s ease;
} */


.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 3rem;
}

.text-box p {
    margin:10px 0 40px;
    font-size: 0.875rem;
    color: #fff;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 0.8125rem;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #00aeff;
    background: #00aeff;
    transition: 1s;
}

nav .fa {
    display: none;
}

@media (max-width:800px) {
    .text-box h1 {
        font-size: 1.5rem;
    }
    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: absolute;
        background: #1E90FF;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s; 
    }

    .btn {
        border: 2px solid #fff;
        position: absolute;
        left: 0px;
        top:230px
    }
    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 1.375rem;
        cursor: pointer;
    }
    .nav-links ul li{
        padding: 5px 45px;
    }

    .nav-btn {
        border: 2px solid #fff;
        padding: 6px 30px;
        border-radius: 30px;
        margin-left: 15px;
    }

    .nav-links ul li::after{
        display: none;
    }

}

.headline-p {
    color:#2d3a59;
    text-align: center;
    font-size: 1rem;
}

/* ---- Scroll up button ---- */

#btnScrollToTop {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #1E90FF;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    border:none;
    outline: none;
    cursor: pointer;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

#btnScrollToTop.active {
    visibility: visible;
    opacity: 1;
}

#btnScrollToTop:hover {
    background: #1b7ada;
}


/* ---- Info ---- */

.info {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1 {
    font-size: 2.25rem;
    font-weight: 600;

}

p {
    color: #777;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.info-col {
    flex-basis: 31%;
    background: #B0E0E6;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.info-col h1 {
    color: #00aeff;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px;
}

.info-col:hover {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.3);
}

@media (max-width:753px) {
    .row {
        flex-direction: column;
    }
}

/* ---- Days -----*/

.days {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.days-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.days-col img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    filter: brightness(50%);
    display: block;
}

.layer h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 3rem;
    opacity: 1;
}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover {
    background: rgba(87, 159, 192, 0.7); 
}

.layer p {
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 1.5rem;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover p {
    bottom: 30%;
    opacity: 1;
}

.layer:hover h3 {
    opacity: 0;
}

@media (max-width:753px){
    .days .row {
        flex-direction: column;
    }

    .layer:hover p,
    .layer:focus p {        
        bottom: 35%;
    }

    .layer p {
        font-size: 1.5rem;
    }
}

@media (max-width: 400px){
    .days .row {
        flex-direction: column;
    }

    .layer p {
        bottom: 20%;
        opacity: 1;
        font-size: 1rem;
        width: 80%;
    }

    .layer h3 {
        top: 30%;
    }
}

/* ---- Countdown -----*/

.countdown-body {
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    overflow: hidden;
    background: #B0E0E6;
    margin-top: 60px;
}

.submit {
    position: relative;
    top: 30px;
    border: 1px solid #00aeff;
    border-radius: 10px;
    padding: 5px 30px;
    background: #00aeff;
    transition: 0.5s;
    margin-top:10px;
    margin-bottom: 40px;
}

.submit a {
    text-decoration: none;
    color: #fff;
    font-size: 0.8125rem;
}

.submit:hover {
    background: #019ee7;
}

@media (max-width:753px){
    .submit {
        padding: 5px 15px;
    }
}
 

.countdown {
    display: flex;
    margin-top: 50px;
    transform: scale(2);
}

.time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.time h2 {
    font-weight: 700;
    line-height: 1;
    color:#00aeff;
}

.time small {
    color: #777;
}

@media (max-width:700px){
    .countdown-body {
        height: 30vh;
    }
    
    .time {
        margin: 0 10px;
    }

    .time h2 {
        font-size: 0.75rem;
    }

    .time small {
        font-size: 0.625rem;
    }
}


@media (max-width:500px){
    .countdown-body h1 {
        font-size: 1.625rem;
    }

    .countdown {
        margin-top: 50px;
    }

    .time {
        margin: 0 5px;
    }

    .time h2 {
        font-size: 0.625rem;
    }

    .time small {
        font-size: 0.5rem;
    }
}

/* ---- Speakers -----*/

.speakers {
    height: 100vh;
    width: 100%;
    position: relative;
}

.speakers h3 {
    text-align: unset;
}

.speakers h1 {
    text-align: center;
    padding-top: 80px;

}

.container {
    max-width: 800px;
    margin: 0 auto;
    background: #ECECEC;
}

.headline-p{
    margin-bottom: 2em;
}

.slide-col {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.user-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 350px;
    margin: 0 auto;
    padding-left: 10px;
}

.slide-col img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 350px;
    object-fit: cover;
    border-radius: 10px;
}

.user-text {
    order: 2;
}

.user-img {
    order: 1;
}

.company {
    color: #00aeff;
    font-size: 1.25rem;
}

.user-text h3 {
    display: none;
}

@media (max-width:753px) {
    .speakers {
        position: unset;
        height: unset;
    }
}

@media (min-width:753px){
    .slide-col img {
        height:100%;
        width: 400px;
    }

    .user-text {
        margin: 0;
        display: block;
        max-width: none;
    }

    .user-text h3{
        display: block;
    }
    
    .slide-row {
        display: flex;
        width: 3200px;
        transition: 0.5s;
    }

    .slide-col {
        width: 800px;
        height: 400px;
        position: relative;
    }

    .user-img {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
    }

    .user-img img {
        height: 100%;
        object-fit: cover;
        border-radius: 10px;

    }

    .user-text {
        background: #2d3a59;
        width: 420px;
        height: 270px;
        position: absolute;
        left: 0;
        top: 250px;
        transform: translateY(-50%);
        border-radius: 10px;
        color: #d3d4d6;
        box-sizing: border-box;
        z-index: 2;
        padding: 0 15px;
    }

    .user-text p{
        font-size: 1.125rem;
        line-height: 1.5rem;
        margin-top: 8px;
        color: #f3f3f3;
    }

    .user-text h3 {
        margin: 10px 10px 0px;
        color:#fff;
    }

    .container {
        width: 800px;
        height: 400px;
        position: absolute;
        top:57%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .indicator {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -90px;
    }

    .container .people-btn {
        display: inline-block;
        height: 15px;
        width: 15px;
        margin: 4px;
        border-radius: 15px;
        background: #777;
        cursor: pointer;
        transition: 0.5s;
    }

    .container .active {
        width: 45px;
    }

    .people {
        width: 100%;
        height: 100%;
        overflow: hidden;
    } 
}

/* ---- Testimonials -----*/

.testimonials {
    padding: 40px 0;
    text-align: center;
}

.inner {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

.border {
    width: 160px;
    height: 5px;
    background: #1E90FF;
    margin: 26px auto;
}

.testimonials .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.testimonials .col {
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
}

.testimonial {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
}

.testimonial img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.testimonials .name {
    font-size: 1.25;
    text-transform: uppercase;
    margin: 20px 0;
}

.testimonials .stars {
    color: #1E90FF;
    margin-bottom: 20px;
}

.testimonial:hover {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.3);
}

@media (max-width: 753px) {
    .testimonials .col {
        flex: 100%;
        max-width: 80%;
        margin: 0 auto;
    }
}

@media (max-width: 500px) {
    .testimonials .col {
        flex: 100%;
        max-width: 100%;
        margin: 0 auto;
    }
}

/* ---- Call to Action -----*/

.cta {
    margin: 100px auto;
    width: 79%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/banner.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 80px 0;
    box-sizing: border-box;
    color: #fff;
}

.cta h1 {
    margin-bottom: 40px;
}

.cta .email-box {
    height: 40px;
    display: flex;
    justify-content: center;
}

.cta .email-box i {
    background:#2f3542;
    width: 40px;
    line-height: 40px;
}

.cta .tbox,.tbtn {
    border: none;
    outline: none;
}

.cta .tbox {
    width: 0px;
    transition: 0.5s;
}

.cta .email-box:hover > .tbox,.tbox:focus {
    width: 260px;
    padding: 0 10px;
}

.cta .tbtn {
    background:#2f3542;
    color: #fff;
    padding: 0 10px;
    text-transform: uppercase;
    cursor: pointer;
}

@media (max-width:753px) {
    .cta h1 {
        font-size: 1.5rem;
    }

    .cta .email-box:hover > .tbox,.tbox:focus {
        width: 140px;
        padding: 0 10px;
    }
}

@media (max-width: 400px) {
    .tbox {
        width: 140px;
        padding: 0 10px;
    }
}

/* ---- Footer -----*/

.footer a {
    text-decoration: none;
    transition: 0.5s;
    color: #fff;
}

.footer ul,li {
    list-style-type: none;
}

.footer {
    background: #2f3542;
    color: #fff;
    padding-top: 50px;
}

.footer-info {
    width: 80%;
    margin: 0 auto;
    display: flex;
    padding: 50px 0;
}

.footer-info, .footer-width {
    padding: 0 15px;
}

.footer-info h2 {
    margin-bottom: 20px;
}

.footer p {
    color: #fff;
    font-size: 0.875rem;
    font-weight: 300;
    /* line-height: 22px; */
    padding: unset;
}

.about {
    width: 46%;
}

.link {
    width: 20%;
}
.social-media {
    margin-top: 30px;
}

.social-media ul {
    display: flex;
}

.social-media ul li a {
    display: inline-block;
    margin-right: 50px;
    width: 35px;
    height: 35px;
    border-radius: 10px;
    padding-top: 10px;
    background: transparent;
    border: 1px solid #fff;
    text-align: center;
    font-size: 1rem;
}

.social-media ul li a:hover {
    background: #1E90FF;
    color: #fff;
}

.link ul li a {
    display: block;
    margin-bottom: 15px;
    font-size: 1.25rem;
    font-size: 0.875rem;
    font-weight: 300;
}

.link ul li a:hover {
    color: #1E90FF;
}

.contact ul li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.contact ul li span {
    margin-right: 15px;
    font-size: 1.25rem;
    font-size: 0.875rem;
    font-weight: 300;
}

.copy-right {
    margin-top: 40px;
    padding: 15px 0;
    text-align: center;
    background-color: #2c313d;
}

@media (max-width:1000px){
    .social-media .youtube {
        display: none;
    }
}

@media (max-width: 753px) {
    .about,.contact,.link {
        width: 100%;
    }

    .footer-info{
        flex-direction: column;
    }

    .social-media ul li a {
        margin-bottom: 20px;
    }

    .social-media .youtube {
        display: block;
    }
}

@media (max-width:500px){
    .social-media .youtube {
        display: none;
    }
}

@media (max-width:400px){
    .social-media .linkedin{
        display: none;
    }
}

/* --------------------- ABOUT PAGE -------------------*/

.sub-header {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../images/about_background.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.sub-header h1 {
    margin-top: 100px;
}

.about-us {
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 110px;
}

.about-col {
    flex-basis: 48%;
    padding: 30px 20px;
}

.about-col img {
    width: 100%;
    border-radius: 10px;
}

.about-col h1 {
    padding-top: 0;
    padding-bottom: 15px;
    font-size: 2rem;
}

.about-col p {
    padding: 15px 0 25px;
}

.about-col p:nth-child(3) {
    border-bottom: 1px solid black;
}

.about-col h2 {
    padding-top: 40px;
    padding-bottom: 40px;
    font-weight: 600;
}

.about-col ul li{
    list-style: square;
    margin-left: 30px;
    color: #777;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 22px;
    padding-top: 5px;
}

.about-highlight {
    font-weight: 700;
}

@media (max-width:753px){
    .about-col h1 {
        font-size: 1.75rem;
    }
    .about-col h2 {
        font-size: 1.5rem;
    }
}

/* --------------------- SUBMISSION PAGE -------------------*/

.submission {
    width: 80%;
    margin: auto;
    height: 103vh;
}

.submission h1{
    text-align: center;
    font-size: 2rem;
    padding-top: 60px;
    padding-bottom: 10px;
}

.submission p {
    text-align: center;
    padding: 0;
}

.form-box {
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: #b1d9e9;
    padding: 5px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.button-box {
    width: 220px;
    margin:35px auto;
    box-shadow: 0 0 20px 9px #0733c51f;
    border-radius: 30px;
    position: relative;
}

.toggle-button {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#register-btn {
    top:0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #167ee6,#00aeff);
    border-radius: 30px;
    transition: 0.5s;
}

.form-icons {
    margin: 30px auto;
}

.form-icons ul {
    display: flex;
    justify-content: center;
}

.form-icons ul li i {
    display: inline-block;
    margin-right: 15px;
    color: #069bff;
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
}

.input-group {
    top: 180px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-button {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #167ee6d3,#34bfff);
    border:0;
    outline: none;
    border-radius: 30px;
}

.check-box {
    margin: 30px 10px 30px 0;
}

.form-pwd {
    color: #777;
    font-size: 0.75rem;
    bottom: 68px;
    position: absolute;
}

#login {
    left: 50px;
}

#register {
    left: 450px;
}

@media (max-width:500px){
    .submission h1 {
        font-size: 1.5rem;
    }

    .form-box {
        width: 280px;
        height: 380px;
    }
    
    .input-group {
        margin-top: -10px
    }
    
    .input-field {
        width: 80%;
        padding: 1px 0;
    }
    .submit-button {
        width: 55%;
        padding: 10px 20px;
        position: absolute;
        left: 20px;
        bottom: -25px;
    }
    .check-box {
        margin: 30px 40px 30px 0;
    }   
    
    .form-pwd {
        color: #777;
        font-size: 0.75rem;
        bottom:28px;
        left:20px;
        position: absolute;
    }
}

/* --------------------- FAQ PAGE -------------------*/

.faq {
    height: 100vh;
    width: 80%;
    margin: 0 auto;
    padding-top: 80px;
    box-sizing: border-box;
}

.faq h1 {
    text-align: center;
}

.faq h5 {
    text-align: center;
    padding-top: 30px;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.search-input {
    margin: 0 5px;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px 25px;
    width: 50%;
    background-color: #00aeff25;
    box-shadow: 0.5rem 0.5rem 0rem #b1d9e9;
}

.faq-container {
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding-top: 30px;
}

/* .accordion-item {
    background-color: #b1d9e9;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 1rem;
    box-shadow: .5rem 2px .5rem rgba(0,0,0,0.1);
} */

.accordion-link {
    font-size: 1rem;
    color: rgba(255,255,255,.8);
    text-decoration: none;
    background-color: #b1d9e9;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
}

.accordion-link i {
    color: #2d3a59;
    /* padding: .5rem; */
}

.accordion-link .fa-minus {
    display: none;
}

.faq-answear {
    max-height: 0;
    overflow: hidden;
    position: relative;
    background-color: #a8d8eb;
    border-radius: 10px;
    transition: max-height 650ms;
}

.faq-answear p {
    color: #777;
    font-size: 0.75rem;
    padding: 2rem;
}

.faq-answear::before {
    content: "";
    position: absolute;
    width: .6rem;
    height: 90%;
    background-color: #2d3a59;
    border-radius: 10px;
    top:50%;
    left: 0;
    transform: translateY(-50%);
}


.accordion-item {
    background-color: #b1d9e9;
    border-radius: 10px;
    margin: 1rem 0;
    box-shadow: .5rem 2px .5rem rgba(0,0,0,0.1);
}

.accordion-item-header {
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    color: #fff;
}

.accordion-item-header::after {
    /* content: "\002B"; */
    content: "\25BE";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
    transition: transform 0.2s ease-in-out;
}

.accordion-item-header.active::after {
    /* content: "\2212"; */
    transform: rotate(180deg);
}

.accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
}
.accordion-item-body-content {
    padding: 1rem;
    line-height: 1.5rem;
    font-size: 0.75rem;
    border-top: 3px solid;
    border-image: linear-gradient(to right,#ececec,#34bfff) 1;
    color: #777;
}

/* .accordion-item-header.active + .accordion-item-body {
    max-height: 200px;
} */

@media (max-width: 1000px){
    .faq {
        height: 120vh;
    }
}

@media (max-width:510px){
    .search-input {
        font-size: 0.65rem;
        width: 80%;
    }
    .faq {
        height: 130vh;
    }
}

/* --------------------- CONTACT PAGE -------------------*/

.contact-div {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-form {
    padding: 25px;
}

.form {
    width: 100%;
    max-width: 820px;
    height: 500px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.1);
    /* z-index: 1000; */
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contact-info {
    padding: 2.3rem 2.2rem;
    position: relative;
}

.contact-info h3{
    text-align: left;
    color: #34bfff ;
}

.contact-info p{
    padding:0;
}

.contact-info::before {
    content: "";
    position: absolute;
    width: 110px;
    height: 100px;
    border: 22px solid #34bfff;
    border-radius: 50%;
    bottom: -77px;
    right:50px;
    opacity: 0.3;
}

.contact-icons {
    padding-top:2rem;
}

.cicons{
    display: flex;
    color: #777;
    align-items: center;
    padding-bottom: 10px;
}

.cicons p {
    padding-left: 10px;
}


.contact-form {
    /* padding: 40px; */
    background-color: #b1d9e9;
    position: relative;
}

.circle {
    border-radius: 50%;
    background: linear-gradient(135deg, transparent 20%, #34bfff);
    position: absolute;
}

.circle.one {
    width: 130px;
    height: 130px;
    top: 130px;
    right: -40px;
}

.circle.two {
    width: 80px;
    height: 80px;
    top: 10px;
    right: 30px;
}

.contact-form:before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background: #34bfff;
    transform: rotate(45deg);
    top: 50px;
    left: -13px;
}


.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    font-size: 1rem;
    margin-bottom: 10px;
    padding-left: 5px;
    color: #fff;
}

.form-group input, textarea {
    width: 300px;
    padding: 5px;
    border-radius: 20px;
    font-size: 1rem;
    color: #333;
    margin-bottom: 1px;
}



input.invalid {
    border: 1px solid #DC143C;
}

.error-hint {
    color: #DC143C;
    font-size: 0.75rem;
}

/* .contact-hr {
    height: 1px;
    background-color: #34bfff;
    border: none;
    margin: 30px 0;
} */

.contact-button {
    padding: 5px 10px;
    margin-top: 5px;
    font-size: 0.8rem;
    color: #fff;
    background: none;
    border: 1px solid #fff;
    border-radius: 10px;
    transition: all 0.5s;
    cursor: pointer;
}

.contact-button:hover {
    background: #34bfff;
    border:black;
    color:white;
}

.hidden {
    display: none;
}

.thank-you {
    padding: 40px;
    font-size: 2rem;
    text-align: center;
}

@media (max-width:850px) {
    .contact-div {
        height: 130vh;
    }
    .form {
        grid-template-columns: 1fr;
        height: 1000px;
    }

    .contact-info::before {
        bottom: initial;
        top: -75px;
        right: 65px;
        transform: scale(0.95);
    }

}

/* --------------------- PRICES PAGE -------------------*/

.prices {
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: min(1600px,100%);
    margin: auto;
}

.pricing-card a {
    list-style: none;
    text-decoration: none;
}

.pricing-card {
    flex: 1;
    max-width: 360px;
    background-color: #fff;
    margin: 20px 10px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    color: #2d2d2d;
    transition: 0.3s linear;
    border-radius: 10px;
}

.pricing-card-header {
    background-color: #0fbcf9;
    display: inline-block;
    color: #fff;
    padding: 12px 30px;
    border-radius: 0 0 20px 20px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    transition: .4s linear;
}

.middle-card {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.3);
}

.pricing-card:hover .pricing-card-header {
    box-shadow: 0 0 0 26em #0fbcf9;
}

.price {
    font-size: 4.375rem;
    color: #0fbcf9;
    margin: 40px 0;
    transition: .2s linear;
}  

.price sup, .price span {
    font-size: 0.75rem;
    font-weight: 700;
}

.pricing-card:hover, .pricing-card:hover .price {
    color: #fff;
}

.pricing-card li {
    font-size: 1rem;
    padding: 10px 0;
    text-transform: uppercase;
}

.order-btn {
    display: inline-block;
    margin-bottom: 40px;
    margin-top: 80px;
    border: 2px solid #0fbcf9;
    color: #0fbcf9;
    padding: 18px 40px;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 500;
    transition: 0.3s linear;
}

.order-btn:hover {
    background-color: #0fbcf9;
    color: #fff;
}

@media (max-width:1100px){
    .prices {
        height: 200vh;
    }
    
    .pricing-card {
        flex:50%;
    }
}

@media (max-width: 759px){
    .prices {
        height: 300vh;
    }
}



